@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap:wght@400;500;700&family=Fira+Code&family=Marck+Script&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500&family=Saira+Condensed:wght@100;200;300;500&family=ZCOOL+QingKe+HuangYou&display=swap');

:root {
  --main-color: #3F312D;
  --second-color: #F7F2D4;
  --third-color: #41493D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Condensed', sans-serif;
}

